
body {
    font-family: 'Permanent Marker', cursive;
    /*font-family: Helvetica;*/
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: 0px 0px 0px 0px;
}


a {
}

a:hover {
}

a:active {
}

a:visited {
}

.boton{
    border-radius: 10%;
}
.boton:hover{
    box-shadow: 2px 2px 2px black;
}

.boton:active{
    box-shadow: 0px 0px 0px black;
}

#panel_lat{
    position: fixed;
    width: 22%;
    height: 93%;
    left: 0px;
    top: 10px;
    background-color: #99F;
    border-radius: 0px 20px 20px 0px;
    
}

#panel_lat_titulo{
    position: relative;
    float: left;
    width: calc(100% - 24px);
    height: 40px;
    z-index: 10;
    text-align: center;
    font-size: 25px;
    color: white;
    background-color: #33A;
}

#panel_lat_contenido{
    position: absolute;
    width: calc(100% - 34px);
    z-index: 10;
    top:45px;
    left: 15px;
    font-size: 24px;
}

#panel_lat_btn{
    position: relative;
    float: left;
    width: 40px;
    height: 100%;
    top: -40px;
    left: calc(100% - 40px);
    background-color: #33A;
    border-radius: 20px;
   /*  border-style:solid;
    border-width: 1px;
    border-color: white white dimgray dimgray;*/
    z-index: 11;
    
}

#panel_lat_contenido .no_asignado:hover{
    text-decoration: underline;
}

#panel_lat_contenido .asignado{
    font-style: italic;
    color: white;
}

#lista_barcos{
    width: 60%;
    list-style-position: inside;
}

li.barco_seleccionado{
    background-color: white;
}

#contenedor_tablero{
    position: relative;
    width: 75%;
    height: 75%;
    left: 20%;
    top: 15%;
}
.tablero{
    position: absolute;
    top:5px;
    /*margin-left: 20%;
    height:95%;*/
    border-style:solid;
    border-color: darkblue;
    border-width:3px;
    border-radius: 15px;
    overflow:hidden;
    word-break:normal;
    background-image: url(imagen/mar3.png);
    background-color: dodgerblue;
    box-shadow: 5px 5px 5px black;
}

#tablero_punta{
    float: left;
}

.celda{
    background-size: contain;
    float: left;
    border-spacing:0;
}

.celda_interna{
    position: relative;
    left: 3px;
    top: 3px;
}

.celda.vacia .celda_interna:hover{
    border-style: solid;
    border-width:3px;
    border-color: white;
    top: 0px;
    left: 0px;
}
.celda_enc{
    font-size: 20px;
    color: white;
    vertical-align: middle;
    /*font-family: Helvetica;*/
    text-align: center;
    float: left;
    background-color: blue;
    /*
    border-spacing:0;
    border-style: solid;
    border-color: blue;
    
    border-width:3px;
    */
}

.celda_enc_fila{
    width: 34px;
    border-bottom: 3px dotted white;
    border-collapse: collapse;
    border-left: 2px solid blue;
    border-right: 2px solid blue;
}

.celda_enc_fila span{
    position: relative;
}

.celda_enc_columna{
    /*width: 80px;*/
    height: 20px;
    padding: 6px 0px 6px 0px;
    border-right: 3px white;
    border-right-style: dotted;
    border-bottom: 3px solid blue;
    border-top: 3px solid blue;
}

#caja_ubicar_barco{
    display: none;
    position: fixed;
    width: 130px;
    height: 100px;
}

#ubicar_barco{
    display: inherit;
    position: absolute;
    top: 5px;
    left:0px;
    width: 111px;
    height: 48px;
    padding-top: 10px;
    /*background-image: url(imagen/fondo_gatillo.png);
    background-size: contain;*/
    border-radius: 10px;
    border: solid black 3px;
    background-color: white;
    text-align: center;
    color: black;
    z-index: 100;
}

#bt_ubicar{
    position: relative;
    float: left;
    left: 30px;
    width: 29px;
    height: 28px;
    background-image: url(imagen/ubicar.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#bt_rotar{
    position: relative;
    float: left;
    left: 20px;
    width: 29px;
    height: 28px;
    background-image: url(imagen/rotar2.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#caja_gatillo{
    display: none;
    position: fixed;
    width: 130px;
    height: 100px;
    
}

#gatillo{
    display: inherit;
    position: absolute;
    top: 5px;
    left:0px;
    width: 111px;
    height: 68px;
    padding-top: 10px;
    /*border-radius: 20px;
    border: 3px solid black;
    box-shadow: 0px 2px 2px black;
    */
    background-image: url(imagen/fondo_gatillo.png);
    background-size: contain;
    text-align: center;
    color: black;
    z-index: 100;
    
}

.disparar{
    position: relative;
    top: 5px;
    width: 40px;
    height: 40px;
    background-color: white;
    background-image: url(imagen/explosion.png);
    background-size: contain;
    border-radius: 10px;
}



.apunta{
    background-image: url(imagen/target2.png);
    background-size: contain;
}

.blanco{
    background-image: url(imagen/fire.png);
    background-size: contain;
}

.agua{
    background-image: url(imagen/splash2.png);
    background-size: contain;
}

.seleccionada{
    border-style: solid;
    border-width:3px;
    border-color: red;
    border-radius: 20px;
}
.cerrar{
    cursor: pointer;
    position: relative;
    float: right;
    left: 0px;
    top: -10px;
    border: 3px solid white;
    border-radius: 20px;
    box-shadow: 0px 2px 2px black;
    width: 20px;
    height: 20px;
    background-color: red;
    background-image: url(imagen/cerrar.png);
    background-size: contain;
    color: white;
    text-align: center;
    z-index: 105;
}
.cerrar:hover{
    width: 22px;
    height: 22px;
}
.cerrar:active{
    width: 20px;
    height: 20px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 70px;
  background-color: #faf143;
  color: #000;
    font-family: Helvetica;
    font-size: 12px;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
    box-shadow: 2px 2px 2px black;
 
  /* Position the tooltip text - see examples below! */
    top: 130%;
  left: 50%;
  margin-left: -35px;
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #faf143 transparent;
}

.barco_normal_frente{
    background-image: url(imagen/barcos/destructor_frente.png);
}

.barco_normal_medio{
    background-image: url(imagen/barcos/destructor_medio.png);
}

.barco_normal_cola{
    background-image: url(imagen/barcos/destructor_cola.png);
}