
body {
    /*font-family: 'Permanent Marker', cursive;*/
    font-family: Helvetica;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: 0px 0px 0px 0px;
    background-color: #001f63;
}

body.elegirTablero {
    /*font-family: 'Permanent Marker', cursive;*/
    font-family: Helvetica;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: 0px 0px 0px 0px;
    background-color: #001f63;
}


a {
}

a:hover {
}

a:active {
}

a:visited {
}

.boton{
    border-radius: 10%;
}
.boton:hover{
    box-shadow: 2px 2px 2px black;
}

.boton:active{
    box-shadow: 0px 0px 0px black;
}

#panel_lat{
    position: fixed;
    width: 22%;
    height: 75%;
    left: 0px;
    top: 15%;
    background-color: #fcbb65;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 5px 5px 5px black;
}

#panel_lat_titulo{
    padding-top: 10px;
    font-family: 'Acme', sans-serif;
    position: relative;
    float: left;
    width: calc(100% - 24px);
    height: 40px;
    z-index: 10;
    text-align: center;
    font-size: 25px;
    color: #001f63;
    background-color: #e08e09;
}

#panel_lat_contenido{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: bold;
    position: absolute;
    width: calc(100% - 34px);
    z-index: 10;
    top:45px;
    left: 15px;
    font-size: 24px;
}

#panel_lat_btn{
    position: relative;
    float: left;
    width: 40px;
    height: 100%;
    top: -50px;
    left: calc(100% - 40px);
    background-color: #e08e09;
    border-radius: 20px;
   /*  border-style:solid;
    border-width: 1px;
    border-color: white white dimgray dimgray;*/
    z-index: 11;
    
}

#panel_lat_contenido .no_asignado:hover{
    text-decoration: underline;
}

#panel_lat_contenido .asignado{
    font-style: italic;
    font-weight: 100;
    color: #001f63;
}

#panel_lat_contenido .asignado::after{
    content: url(imagen/ok_rojo_24px.png);
    margin-left: 10px;
}

#lista_barcos{
    left: -30px;
    padding-left: 20px;
    width: 80%;
    list-style-position: inside;
}

li.barco_seleccionado{
    background-color: white;
    border-radius: 15px;
    padding-left: 20px;
}

#contenedor_tablero{
    position: relative;
    width: 75%;
    height: 75%;
    left: 20%;
    top: 15%;
}
.tablero{
    font-family: 'Acme', sans-serif;
    position: absolute;
    top:5px;
    /*margin-left: 20%;
    height:95%;*/
    border-style:solid;
    border-color: darkblue;
    border-width:3px;
    border-radius: 15px;
    overflow:hidden;
    word-break:normal;
    background-image: url(imagen/mar3.png);
    background-color: dodgerblue;
    box-shadow: 5px 5px 5px black;
}

#tablero_punta{
    float: left;
    background-color: blue;
    width: 38px;
    height: 38px;
}

.celda{
    background-size: contain;
    float: left;
    border-spacing:0;
}

.celda_interna{
    position: relative;
    left: 3px;
    top: 3px;
}

/* clase temporal para pruebas de asignación*/
.celda_asignada{
    /*border: solid red 1px;*/
}

.celda.vacia .celda_interna:hover{
    border-style: solid;
    border-width:3px;
    border-color: white;
    top: 0px;
    left: 0px;
}
.celda_enc{
    font-size: 20px;
    color: white;
    vertical-align: middle;
    /*font-family: Helvetica;*/
    text-align: center;
    float: left;
    background-color: blue;
    /*
    border-spacing:0;
    border-style: solid;
    border-color: blue;
    
    border-width:3px;
    */
}

.celda_enc_fila{
    width: 34px;
    border-bottom: 3px dotted white;
    border-collapse: collapse;
    border-left: 2px solid blue;
    border-right: 2px solid blue;
}

.celda_enc_fila span{
    position: relative;
}

.celda_enc_columna{
    /*width: 80px;*/
    height: 20px;
    padding: 6px 0px 6px 0px;
    border-right: 3px white;
    border-right-style: dotted;
    border-bottom: 3px solid blue;
    border-top: 3px solid blue;
}

#caja_ubicar_barco{
    display: none;
    position: fixed;
    width: 130px;
    height: 100px;
}

#ubicar_barco{
    display: inherit;
    position: absolute;
    top: 5px;
    left:0px;
    width: 105px;
    height: 40px;
    padding-top: 10px;
    /*background-image: url(imagen/fondo_gatillo.png);
    background-size: contain;*/
    border-radius: 10px;
    border: solid black 3px;
    background-color: white;
    text-align: center;
    color: black;
    z-index: 100;
}

#bt_colocar{
    position: relative;
    float: left;
    left: 30px;
    width: 29px;
    height: 28px;
    background-image: url(imagen/ubicar.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#bt_rotar{
    position: relative;
    float: left;
    left: 20px;
    width: 29px;
    height: 28px;
    background-image: url(imagen/rotar2.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#bt_guardar_mapa{
    color: #edba68;
    text-align: center;
    font-size: 20px;
    position: relative;
    float: left;
    left: 20px;
    width: 100px;
    padding-top: 10px;
    width: 100px;
    height: 30px;
    background-color: #001f63;
}

#bt_limpiar_mapa{
    color: #edba68;
    text-align: center;
    font-size: 20px;
    position: relative;
    float: left;
    left: 22px;
    margin-left: 10px;
    padding-top: 10px;
    width: 100px;
    height: 30px;
    background-color: #001f63;
}

#caja_gatillo{
    display: none;
    position: fixed;
    width: 130px;
    height: 100px;
    
}

#gatillo{
    display: inherit;
    position: absolute;
    top: 5px;
    left:0px;
    width: 111px;
    height: 68px;
    padding-top: 10px;
    /*border-radius: 20px;
    border: 3px solid black;
    box-shadow: 0px 2px 2px black;
    */
    background-image: url(imagen/fondo_gatillo.png);
    background-size: contain;
    text-align: center;
    color: black;
    z-index: 100;
    
}

.disparar{
    position: relative;
    top: 5px;
    width: 40px;
    height: 40px;
    background-color: white;
    background-image: url(imagen/explosion.png);
    background-size: contain;
    border-radius: 10px;
}



.apunta{
    background-image: url(imagen/target2.png);
    background-size: contain;
}

.blanco{
    background-image: url(imagen/fire.png);
    background-size: contain;
}

.agua{
    background-image: url(imagen/splash2.png);
    background-size: contain;
}

.seleccionada{
    border-style: solid;
    border-width:3px;
    border-color: black;
    border-radius: 20px;
}

.seleccion_invalida{
    border-style: solid;
    border-width:3px;
    border-color: red;
    border-radius: 20px;
}

.cerrar{
    cursor: pointer;
    position: relative;
    float: right;
    left: 0px;
    top: -10px;
    border: 3px solid white;
    border-radius: 20px;
    box-shadow: 0px 2px 2px black;
    width: 20px;
    height: 20px;
    background-color: red;
    background-image: url(imagen/cerrar.png);
    background-size: contain;
    color: white;
    text-align: center;
    z-index: 105;
}
.cerrar:hover{
    width: 22px;
    height: 22px;
}
.cerrar:active{
    width: 20px;
    height: 20px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 90px;
    background-color: #87dbfa;
    color: #000;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    box-shadow: 2px 2px 2px black;
 
  /* Position the tooltip text - see examples below! */
    top: 130%;
    left: 50%;
    margin-left: -45px;
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #87dbfa transparent;
}

/*Fondo para avisos importantes y cuadro de mensajes*/
#cuadro_fondo{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-image: url(imagen/fondo_opaco_negro_75.png);
}

.dialogo_mensaje{
    display: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    position: relative;
    left: calc(50% - 125px);
    top: calc(50% - 50px);
    width: 300px;
    height: 120px;
    border-width: 5px;
    border-style: solid;
    border-color: #e08e09;
    border-radius: 20px;
    background-color:#fcbb65 ;
    z-index: 101;
}

.dialogo_mensaje_txt{
    position: relative;
    display: block;
    width: 100%;
    top: 20px;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

.dialogo_mensaje .boton{
    position: relative;
    font-weight: bold;
    font-size: 22px;
    float: left;
    top: 30px;
    left: 30%;
    right: auto;
    margin-left: 10px;
    width: auto;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    border: #e08e09 1px solid;
    border-radius: 10px;
    color: #edba68;
    background-color: #001f63;
}

/*Estilos para los barcos*/

/*Acorazado*/
.acorazado.frente.H{
    background-image: url(imagen/barcos/destructor_frente_h.png);
}

.acorazado.medio.H{
    background-image: url(imagen/barcos/destructor_medio_h.png);
}

.acorazado.cola.H{
    background-image: url(imagen/barcos/destructor_cola_h.png);
}
.acorazado.frente.V{
    background-image: url(imagen/barcos/destructor_frente_v.png);
}

.acorazado.medio.V{
    background-image: url(imagen/barcos/destructor_medio_v.png);
}

.acorazado.cola.V{
    background-image: url(imagen/barcos/destructor_cola_v.png);
}

/*Destructor*/

.destructor.frente.H{
    background-image: url(imagen/barcos/destructor_frente_h.png);
}

.destructor.medio.H{
    background-image: url(imagen/barcos/destructor_medio_h.png);
}

.destructor.cola.H{
    background-image: url(imagen/barcos/destructor_cola_h.png);
}
.destructor.frente.V{
    background-image: url(imagen/barcos/destructor_frente_v.png);
}

.destructor.medio.V{
    background-image: url(imagen/barcos/destructor_medio_v.png);
}

.destructor.cola.V{
    background-image: url(imagen/barcos/destructor_cola_v.png);
}

/*Escolta*/
.escolta.frente.H{
    background-image: url(imagen/barcos/destructor_frente_h.png);
}

.escolta.medio.H{
    background-image: url(imagen/barcos/destructor_medio_h.png);
}

.escolta.cola.H{
    background-image: url(imagen/barcos/destructor_cola_h.png);
}
.escolta.frente.V{
    background-image: url(imagen/barcos/destructor_frente_v.png);
}

.escolta.medio.V{
    background-image: url(imagen/barcos/destructor_medio_v.png);
}

.escolta.cola.V{
    background-image: url(imagen/barcos/destructor_cola_v.png);
}

/*Submarino*/
.submarino.frente.H{
    background-image: url(imagen/barcos/submarino-h.png);
}

.submarino.medio.H{
    background-image: url(imagen/barcos/submarino-h.png);
}

.submarino.cola.H{
    background-image: url(imagen/barcos/submarino-h.png);
}
.submarino.frente.V{
    background-image: url(imagen/barcos/submarino_v.png);
}

.submarino.medio.V{
    background-image: url(imagen/barcos/submarino_v.png);
}

.submarino.cola.V{
    background-image: url(imagen/barcos/submarino_v.png);
}

/*Formularios de envío de datos*/
#formulario_enviar{
    position: fixed;
    top: auto;
    bottom: 0px;
}

#lista_barcos_enviar{
    width: 400px;
}

/*Página de selección de tamaño de tablero*/

#panel_elegir_tablero{
    position: relative;
    width: 33%; 
    height: 40%;
    left: 33%;
    top: 25%;
    padding-bottom: 10px;
    background-color: #fcbb65;
    border-radius: 20px;
    border-width: 5px;
    border-style: solid;
    border-color: #e08e09;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#panel_elegir_tablero .titulo{
    display: block;
    width: 100%;
    font-family: 'Acme', sans-serif;
    font-size: 25px;
    text-align: center;
    background-color: #e08e09;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#panel_elegir_tablero .subtitulo{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-align: left;
}

#panel_elegir_tablero .etiqueta{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 28px;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



#panel_elegir_tablero .boton{
    position: relative;
    font-weight: bold;
    font-size: 22px;
    float: left;
    top: 30px;
    left: 37.5%;
    right: auto;
    width: 23%;
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 5px;
    border: #e08e09 1px solid;
    border-radius: 10px;
    color: #edba68;
    background-color: #001f63;
}

#panel_elegir_tablero table{
    position: relative;
    width: 90%;
    left: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#panel_elegir_tablero input[type=text]{
    width: 100%;
    height: 28px;
}

/*Tomado de W3Schools*/
/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    left: 35%;
    top: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 28px;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #e08e09;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  /*background-color: #e08e09;*/
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    content: url(imagen/ok_rojo_24px.png);
    top: -5px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  /*background: white;*/
}